<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assignto</key>
	<array>
		<dict>
			<key>command</key>
			<integer>9000</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>ASSIGN_TO</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>9002</integer>
			<key>name</key>
			<string>ALL_DESKTOPS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>9003</integer>
			<key>name</key>
			<string>THIS_DESKTOP</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>9004</integer>
			<key>name</key>
			<string>OTHER_DESKTOP</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>9001</integer>
			<key>name</key>
			<string>NONE</string>
		</dict>
	</array>
	<key>dashboard</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1038</integer>
			<key>name</key>
			<string>MORE_WIDGETS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1037</integer>
			<key>name</key>
			<string>DASHBOARD_PREFS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1039</integer>
			<key>name</key>
			<string>SHOW_DASHBOARD</string>
		</dict>
	</array>
	<key>directory</key>
	<array>
		<dict>
			<key>command</key>
			<integer>3000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SORT_BY</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3001</integer>
			<key>name</key>
			<string>NAME</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3002</integer>
			<key>name</key>
			<string>DATE_ADDED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3004</integer>
			<key>name</key>
			<string>DATE_MODIFIED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3003</integer>
			<key>name</key>
			<string>DATE_CREATED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3006</integer>
			<key>name</key>
			<string>KIND</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>7000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>DISPLAY_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>7001</integer>
			<key>name</key>
			<string>DISPLAY_AS_FOLDER</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>7002</integer>
			<key>name</key>
			<string>DISPLAY_AS_STACK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>6000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SHOW_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6002</integer>
			<key>name</key>
			<string>FAN</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6003</integer>
			<key>name</key>
			<string>GRID</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6004</integer>
			<key>name</key>
			<string>LIST</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6001</integer>
			<key>name</key>
			<string>AUTOMATIC</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN_FILENAME</string>
		</dict>
	</array>
	<key>directorylist</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>8000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>3000</integer>
					<key>header</key>
					<true/>
					<key>name</key>
					<string>SORT_BY</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>3001</integer>
					<key>name</key>
					<string>NAME</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>3002</integer>
					<key>name</key>
					<string>DATE_ADDED</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>3004</integer>
					<key>name</key>
					<string>DATE_MODIFIED</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>3003</integer>
					<key>name</key>
					<string>DATE_CREATED</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>3006</integer>
					<key>name</key>
					<string>KIND</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>2000</integer>
					<key>separator</key>
					<true/>
				</dict>
				<dict>
					<key>command</key>
					<integer>7000</integer>
					<key>header</key>
					<true/>
					<key>name</key>
					<string>DISPLAY_AS</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>7001</integer>
					<key>name</key>
					<string>DISPLAY_AS_FOLDER</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>7002</integer>
					<key>name</key>
					<string>DISPLAY_AS_STACK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>2000</integer>
					<key>separator</key>
					<true/>
				</dict>
				<dict>
					<key>command</key>
					<integer>6000</integer>
					<key>header</key>
					<true/>
					<key>name</key>
					<string>SHOW_AS</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>6002</integer>
					<key>name</key>
					<string>FAN</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>6003</integer>
					<key>name</key>
					<string>GRID</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>6004</integer>
					<key>name</key>
					<string>LIST</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>6001</integer>
					<key>name</key>
					<string>AUTOMATIC</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN_IN_FINDER</string>
		</dict>
	</array>
	<key>dock</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1009</integer>
			<key>name</key>
			<string>TURN_HIDING_ON</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1010</integer>
			<key>name</key>
			<string>TURN_HIDING_OFF</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1011</integer>
			<key>name</key>
			<string>TURN_MAG_ON</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1012</integer>
			<key>name</key>
			<string>TURN_MAG_OFF</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1013</integer>
			<key>name</key>
			<string>POSITION_ON_SCREEN</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1018</integer>
					<key>name</key>
					<string>LEFT</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1017</integer>
					<key>name</key>
					<string>BOTTOM</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1019</integer>
					<key>name</key>
					<string>RIGHT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>1029</integer>
			<key>name</key>
			<string>MINIMIZE_USING</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1030</integer>
					<key>name</key>
					<string>GENIE_EFFECT</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1031</integer>
					<key>name</key>
					<string>SCALE_EFFECT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1015</integer>
			<key>name</key>
			<string>DOCK_PREFS</string>
		</dict>
	</array>
	<key>docklet</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>SHOW_NAME</string>
		</dict>
	</array>
	<key>file</key>
	<array>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1034</integer>
					<key>name</key>
					<string>OPEN_AT_LOGIN</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN_FILENAME</string>
		</dict>
	</array>
	<key>fileapp</key>
	<array>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1034</integer>
					<key>name</key>
					<string>OPEN_AT_LOGIN</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>9002</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1043</integer>
			<key>name</key>
			<string>SHOW_ALL_WINDOWS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1044</integer>
			<key>name</key>
			<string>SHOW_RECENTS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
	<key>filestack</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>4000</integer>
			<key>name</key>
			<string>RENAME_STACK</string>
		</dict>
	</array>
	<key>finder-quit</key>
	<array>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
	<key>finder-running</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>APPLICATION_NOT_RESPONDING</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array/>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1043</integer>
			<key>name</key>
			<string>SHOW_ALL_WINDOWS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1006</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>name</key>
			<string>HIDE</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1007</integer>
			<key>dynamic</key>
			<integer>1</integer>
			<key>name</key>
			<string>HIDE_OTHERS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1036</integer>
			<key>name</key>
			<string>SHOW</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1024</integer>
			<key>name</key>
			<string>RELAUNCH</string>
		</dict>
	</array>
	<key>folder</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1034</integer>
					<key>name</key>
					<string>OPEN_AT_LOGIN</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN_FILENAME</string>
		</dict>
	</array>
	<key>minwindow</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1025</integer>
			<key>name</key>
			<string>OPEN_FILENAME</string>
		</dict>
	</array>
	<key>process</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2002</integer>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>APPLICATION_NOT_RESPONDING</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1002</integer>
					<key>name</key>
					<string>KEEP_IN_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1034</integer>
					<key>name</key>
					<string>OPEN_AT_LOGIN</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1043</integer>
			<key>name</key>
			<string>SHOW_ALL_WINDOWS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1044</integer>
			<key>name</key>
			<string>SHOW_RECENTS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1006</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>name</key>
			<string>HIDE</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1007</integer>
			<key>dynamic</key>
			<integer>1</integer>
			<key>name</key>
			<string>HIDE_OTHERS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1036</integer>
			<key>name</key>
			<string>SHOW</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1003</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>dynamic-break</key>
			<true/>
			<key>name</key>
			<string>QUIT</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1024</integer>
			<key>dynamic</key>
			<integer>1</integer>
			<key>name</key>
			<string>FORCE_QUIT</string>
		</dict>
	</array>
	<key>recentstack</key>
	<array>
		<dict>
			<key>command</key>
			<integer>5000</integer>
			<key>name</key>
			<string>RECENT_APPS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>5001</integer>
			<key>name</key>
			<string>RECENT_DOCS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>5002</integer>
			<key>name</key>
			<string>RECENT_SERVERS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>5003</integer>
			<key>name</key>
			<string>FAV_VOLS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>5004</integer>
			<key>name</key>
			<string>FAV_ITEMS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>6000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SHOW_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6002</integer>
			<key>name</key>
			<string>FAN</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6003</integer>
			<key>name</key>
			<string>GRID</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6004</integer>
			<key>name</key>
			<string>LIST</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6001</integer>
			<key>name</key>
			<string>AUTOMATIC</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
	<key>screensharingstack</key>
	<array>
		<dict>
			<key>command</key>
			<integer>6000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SHOW_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6002</integer>
			<key>name</key>
			<string>FAN</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6003</integer>
			<key>name</key>
			<string>GRID</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6004</integer>
			<key>name</key>
			<string>LIST</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6001</integer>
			<key>name</key>
			<string>AUTOMATIC</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
	<key>smartfolder</key>
	<array>
		<dict>
			<key>command</key>
			<integer>3000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SORT_BY</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3001</integer>
			<key>name</key>
			<string>NAME</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3004</integer>
			<key>name</key>
			<string>DATE_MODIFIED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3003</integer>
			<key>name</key>
			<string>DATE_CREATED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>3007</integer>
			<key>name</key>
			<string>LAST_OPENED</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>7000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>DISPLAY_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>7001</integer>
			<key>name</key>
			<string>DISPLAY_AS_FOLDER</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>7002</integer>
			<key>name</key>
			<string>DISPLAY_AS_STACK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>6000</integer>
			<key>header</key>
			<true/>
			<key>name</key>
			<string>SHOW_AS</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6002</integer>
			<key>name</key>
			<string>FAN</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6003</integer>
			<key>name</key>
			<string>GRID</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6004</integer>
			<key>name</key>
			<string>LIST</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>6001</integer>
			<key>name</key>
			<string>AUTOMATIC</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
	</array>
	<key>spacer</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
	</array>
	<key>trash</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1001</integer>
			<key>dynamic</key>
			<integer>0</integer>
			<key>name</key>
			<string>EMPTY_TRASH</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>1040</integer>
			<key>dynamic</key>
			<integer>2</integer>
			<key>name</key>
			<string>SECURE_EMPTY_TRASH</string>
		</dict>
	</array>
	<key>url</key>
	<array>
		<dict>
			<key>command</key>
			<integer>1004</integer>
			<key>name</key>
			<string>REMOVE_FROM_DOCK</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
	<key>volume</key>
	<array>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>10000</integer>
			<key>name</key>
			<string>OPTIONS</string>
			<key>sub</key>
			<array>
				<dict>
					<key>command</key>
					<integer>1004</integer>
					<key>name</key>
					<string>REMOVE_FROM_DOCK</string>
				</dict>
				<dict>
					<key>command</key>
					<integer>1005</integer>
					<key>name</key>
					<string>SHOW_IN_FINDER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>command</key>
			<integer>1033</integer>
			<key>name</key>
			<string>EJECT</string>
		</dict>
		<dict>
			<key>command</key>
			<integer>2000</integer>
			<key>separator</key>
			<true/>
		</dict>
		<dict>
			<key>command</key>
			<integer>1000</integer>
			<key>name</key>
			<string>OPEN</string>
		</dict>
	</array>
</dict>
</plist>
